/*************** cuprum ***************/
@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cuprum/cuprum-v11-latin_cyrillic-regular.eot');
    src: local('Cuprum Regular'), local('Cuprum-Regular'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-regular.woff2') format('woff2'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-regular.woff') format('woff'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-regular.ttf') format('truetype'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-regular.svg#Cuprum') format('svg');
}

@font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/cuprum/cuprum-v11-latin_cyrillic-italic.eot');
    src: local('Cuprum Italic'), local('Cuprum-Italic'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-italic.woff2') format('woff2'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-italic.woff') format('woff'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-italic.ttf') format('truetype'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-italic.svg#Cuprum') format('svg');
}

@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/cuprum/cuprum-v11-latin_cyrillic-700.eot');
    src: local('Cuprum Bold'), local('Cuprum-Bold'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-700.woff2') format('woff2'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-700.woff') format('woff'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-700.ttf') format('truetype'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-700.svg#Cuprum') format('svg');
}

/*************** pt-sans ***************/
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans/pt-sans-v11-latin-regular.eot');
    src: local('PT Sans'), local('PTSans-Regular'),
        url('../fonts/pt-sans/pt-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pt-sans/pt-sans-v11-latin-regular.woff2') format('woff2'),
        url('../fonts/pt-sans/pt-sans-v11-latin-regular.woff') format('woff'),
        url('../fonts/pt-sans/pt-sans-v11-latin-regular.ttf') format('truetype'),
        url('../fonts/pt-sans/pt-sans-v11-latin-regular.svg#PTSans') format('svg');
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/pt-sans/pt-sans-v11-latin-italic.eot');
    src: local('PT Sans Italic'), local('PTSans-Italic'),
        url('../fonts/pt-sans/pt-sans-v11-latin-italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pt-sans/pt-sans-v11-latin-italic.woff2') format('woff2'),
        url('../fonts/pt-sans/pt-sans-v11-latin-italic.woff') format('woff'),
        url('../fonts/pt-sans/pt-sans-v11-latin-italic.ttf') format('truetype'),
        url('../fonts/pt-sans/pt-sans-v11-latin-italic.svg#PTSans') format('svg');
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pt-sans/pt-sans-v11-latin-700.eot');
    src: local('PT Sans Bold'), local('PTSans-Bold'),
        url('../fonts/pt-sans/pt-sans-v11-latin-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pt-sans/pt-sans-v11-latin-700.woff2') format('woff2'),
        url('../fonts/pt-sans/pt-sans-v11-latin-700.woff') format('woff'),
        url('../fonts/pt-sans/pt-sans-v11-latin-700.ttf') format('truetype'),
        url('../fonts/pt-sans/pt-sans-v11-latin-700.svg#PTSans') format('svg');
}

body {
    font-family: 'Cuprum', Arial, sans-serif;
    box-sizing: content-box;
}

div,
button,
section,
a,
ul,
li,
h1,
h2,
h3,
p,
footer,
header{
    outline: 1px solid red;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/***************************header-top-panel***************************/
.header-flex-container {
    min-height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top-panel {
    background-color: #f4f7f9;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 940px;
    min-height: 47px;
    background-color: #293449;
}

.header-logo{
    display: inline-block;
    padding:  15px 55px 11px 55px;
    background-color: #ee3643;
}

.header-logo:hover{
    background-color: #ca2c37;
}

.header-logo:active{
    background-color: #ba2732;
}

.header-logo::before {
    content: "";
    background-image: url("/img/texnomart.svg");
    width: 109px;
    height: 19px;
    display: block;
}

.header-logo:hover {
    background-color: #ca2c37;
}

.header-logo:active {
    background-color: #ba2732;
}

.inp-form-search {
    border: 0px;
    font-size: 17px;
    line-height: 1.06;
    color: #fff;
    background-color: #293449;
}

.inp-form-search:hover {
    background-color: #212a3a;
}

.inp-form-search:active {
    background-color: #fff;
}

.label-search::before {
    content: url("/img/icon-svg/icon-search.svg");
}

.header-bookmark,
.header-cart,
.header-order {
    font-size: 17px;
    line-height: 1.06;
    color: #fff;
    text-decoration: none;
    text-align: right;
}

.header-bookmark::before {
    content: url("/img/icon-svg/icon-bookmark.svg")
}

.header-cart::before {
    content: url("/img/icon-svg/icon-cart.svg")
}

.header-bookmark:hover,
.header-cart:hover {
    background-color: #212a3a;
}

.header-bookmark:active,
.header-cart:active {
    background-color: #161d29;
}

.header-order {
    background-color: #63a63e;
}

.header-order:hover {
    background-color: #5fbb2d;
}

.header-order:active {
    background-color: #518534;
}

/***************************header-middle-panel***************************/
.header-middle-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    background-color: #f4f7f9;
}

.header-store-about {
    max-width: 196px;
    font-size: 16px;
    font-style: italic;
    line-height: 1.44;
    color: #ee3643;
}

.header-middle-contact {
    max-width: 270px;
    min-height: 45px;
}

.header-contact-telephone {
    font-size: 21px;
    line-height: 1;
    color: #ee3643;
    text-decoration: none;
    border: solid 3px #ffffff;
}

.header-contact-telephone::before {
    content: url("/img/icon-svg/icon-phone.svg");
}

.header-contact-address {
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: #32425c;
}

.header-user-login,
.header-user-registration {
    font-size: 21px;
    line-height: 1;
    color: #000;
    text-decoration: none;
    padding: 14px 27px 11px 13px;
}

.header-user-login:hover::before {
    content: url("/img/icon-svg/icon-login-hover.svg");
}

.header-user-login:active::before {
    content: url("/img/icon-svg/icon-login-active.svg");
}

.header-user-login::before {
    content: url("/img/icon-svg/icon-login.svg");
}

.header-user-login:hover,
.header-user-registration:hover {
    color: #ee3643;
}

.header-user-login:active,
.header-user-registration:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-ul-panel-links {
    font-size: 17px;
    line-height: 1;
    color: #fff;
    text-decoration: none;
}

.header-ul-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.header-ul-panel {
    background-color: #32425c;
}

.header-ul-panel-li:hover {
    background-color: #293449;
}

.header-ul-panel-li:active {
    background-color: #1d2739;
}

.header-ul-panel-links:active {
    color: rgba(255, 255, 255, 0.5);
}

/*************************** main -> section features***************************/
.features {
    background-color: #fff;
}

.features-materials {
    background-color: #ffbf47;
}

.features-tool {
    background-color: #3bbce3;
}

.features-technics {
    background-color: #dc91d8;
}

.features-discount {
    background-color: #8ed78f;
}

.features-delivery {
    background-color: #ffc047;
}

.features-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    color: #fff;
}

.features-subtitle {
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.features-subtitle:hover {
    background-color: #000;
    opacity: 0.2;
}

.features-subtitle:active {
    background-color: #000;
    opacity: 0.3;
}

.features-slider-title {
    text-transform: uppercase;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
}

.slider-button {
    background-color: #ee3643;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 1.29;
}

.slider-button:hover {
    background-color: #ca2c37;
}

.slider-button:active {
    background-color: #ba2732;
}

/***************************main -> section popular-products***************************/
.popular-products,
.all-header-popular {
    background-color: #f9f5f0;
}

.popular-title {
    font-size: 30px;
    line-height: 1;
    color: #32425c;
}

.popular-subtitle {
    background-color: #ee3643;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.popular-subtitle:hover {
    background-color: #ca2c37;
}

.popular-subtitle:active {
    background-color: #ba2732;
}

.popular-catalog-products {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.popular-catalog-products-li {
    width: 220px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;
}

.catalog-product-firm {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    color: #000000;
}

.catalog-product-outdate-del {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.06;
    text-align: center;
    color: #a9a9a9;
}

.catalog-product-price {
    font-family: 'PT Sans', Arial, sans-serif;
    background-color: #ef3341;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.06;
    text-align: center;
    color: #ffffff;
}

.catalog-popup-buy {
    background-color: #63a63e;
    color: #fff;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-popup-buy:hover {
    background-color: #5fbb2d;
}

.catalog-popup-buy:active {
    background-color: #518534;
}

.catalog-popup-bookmark {
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #32425c;
    border: solid 3px #63a63e;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-popup-bookmark:hover {
    border: solid 3px #32425c;
}

.catalog-popup-bookmark:active {
    opacity: 0.3;
    border: solid 3px #32425c;
}

/***************************main -> section popular-brands***************************/

.popular-brands {
    background-color: #fff;
}

.services-title {
    font-size: 30px;
    line-height: 1;
    color: #000000;
}

.services-info {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 1.85;
    color: #000;
}

.button-slider-controls {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.btn-slider-controls {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.43;
    color: #32425c;
}

.advantage-details-title {
    font-size: 36px;
    line-height: 1;
    color: #32425c;
}

.advantage-details-info {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 1.85;
    color: #000000;
}

/***************************main -> section service***************************/

.service {
    background-color: #f4f7f9;
}

/***************************main -> section company***************************/

.company {
    background-color: #fff;
}

.company-caption {
    font-size: 30px;
    line-height: 1;
    color: #000;
}

.company-about,
.company-message {
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    width: 220px;
    height: 38px;
    background-color: #ee3643;
}

.company-info,
.company-contacts-info {
    font-family: 'PTsans', Arial, sans-serif;
    font-size: 13px;
    line-height: 1.85;
    color: #000;
}

.company-delivery-firm {
    font-size: 18px;
    line-height: 1.11;
    color: #000;
}
.company-delivery {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}


.company-contacts-form {
    display:none
}

/***************************footer -> footer-top-panel***************************/
.footer-logo::before {
    content: url("/img/texnomart-footer.svg");
}

.footer-top-panel {
    background-color: #32425c;
}

.footer-inner-panel-links {
    font-size: 18px;
    line-height: 1.33;
    color: #f1f5f7;
    text-decoration: none;
}


.footer-inner-panel-links:hover {
    color: #f1f5f7;
    text-decoration: underline;
}

.footer-inner-panel-links:active {
    color: rgba(241, 245, 247, 0.5);
    text-decoration: none;
}

.footer-inner-panel {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

/*************************** footer -> footer-middle-panel ***************************/
.footer-middle-panel {
    background-color: #32425c;
}

.footer-contacts-address,
.footer-contact-telephone {
    font-size: 18px;
    line-height: 1.33;
    color: #f3f7f9;
}

.footer-contact-telephone{
    text-decoration: none;
}

.footer-offer-panel-links {
    font-size: 18px;
    line-height: 1.33;
    color: #ffd180;
    text-decoration: none;
}

.footer-offer-panel-links:hover,
.footer-feedback-mail:hover,
.footer-mail-design:hover {
    color: #ffd180;
    text-decoration: underline;
}

.footer-bottom-feedback a:active,
.footer-bottom-design a:active {
    color: #ee3643;
    text-decoration: underline;
}

.footer-offer-panel-links:active {
    color: rgba(255, 209, 128, 0.5);
    text-decoration: none;
}

.footer-offer-panel {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

/***************************footer -> footer-bottom-panel***************************/
.footer-bottom-panel {
    background-color: #293449;
}

.footer-bottom-copyright-text {
    font-size: 16px;
    line-height: 1.13;
    color: #fff;
}

.footer-bottom-social  {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.footer-social {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #212a3a;
    text-align: center;
}

.footer-social:hover {
    background-color: #ee3643;
}



.footer-social-vk::before {
    content: url("/img/icon-svg/icon-vk.svg");
    position: absolute;
    top: 14px;
    left: 8px;
}

.footer-social-fb::before {
    content: url("/img/icon-svg/icon-fb.svg");
    position: absolute;
    top: 10px;
    left: 15px;
}

.footer-social-inst::before {
    content: url("/img/icon-svg/icon-insta.svg");
    position: absolute;
    top: 10px;
    left: 11px;
}

.footer-bottom-feedback-text,
.footer-bottom-design-text {
    font-size: 16px;
    line-height: 1.13;
    color: #fff;
}

.footer-feedback-mail,
.footer-mail-design {
    font-size: 16px;
    line-height: 1.13;
    color: #ffd180;
    text-decoration: none;
}
