/*************** cuprum ***************/
@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cuprum/cuprum-v11-latin_cyrillic-regular.eot');
    src: local('Cuprum Regular'), local('Cuprum-Regular'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-regular.woff2') format('woff2'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-regular.woff') format('woff'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-regular.ttf') format('truetype'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-regular.svg#Cuprum') format('svg');
}

@font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/cuprum/cuprum-v11-latin_cyrillic-italic.eot');
    src: local('Cuprum Italic'), local('Cuprum-Italic'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-italic.woff2') format('woff2'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-italic.woff') format('woff'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-italic.ttf') format('truetype'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-italic.svg#Cuprum') format('svg');
}

@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/cuprum/cuprum-v11-latin_cyrillic-700.eot');
    src: local('Cuprum Bold'), local('Cuprum-Bold'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-700.woff2') format('woff2'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-700.woff') format('woff'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-700.ttf') format('truetype'),
        url('../fonts/cuprum/cuprum-v11-latin_cyrillic-700.svg#Cuprum') format('svg');
}

/*************** pt-sans ***************/
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans/pt-sans-v11-latin-regular.eot');
    src: local('PT Sans'), local('PTSans-Regular'),
        url('../fonts/pt-sans/pt-sans-v11-latin_cyrillic-regular?#iefix') format('embedded-opentype'),
        url('../fonts/pt-sans/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'),
        url('../fonts/pt-sans/pt-sans-v11-latin_cyrillic-regular.woff') format('woff'),
        url('../fonts/pt-sans/pt-sans-v11-latin_cyrillic-regular.ttf') format('truetype'),
        url('../fonts/pt-sans/pt-sans-v11-latin_cyrillic-regular.svg#PTSans') format('svg');
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/pt-sans/pt-sans-v11-latin-italic.eot');
    src: local('PT Sans Italic'), local('PTSans-Italic'),
        url('../fonts/pt-sans/pt-sans-v11-latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pt-sans/pt-sans-v11-latin_cyrillic-italic.woff2') format('woff2'),
        url('../fonts/pt-sans/pt-sans-v11-latin_cyrillic-italic.woff') format('woff'),
        url('../fonts/pt-sans/pt-sans-v11-latin_cyrillic-italic.ttf') format('truetype'),
        url('../fonts/pt-sans/pt-sans-v11-latin_cyrillic-italic.svg#PTSans') format('svg');
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pt-sans/pt-sans-v11-latin-700.eot');
    src: local('PT Sans Bold'), local('PTSans-Bold'),
        url('../fonts/pt-sans/pt-sans-v11-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pt-sans/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'),
        url('../fonts/pt-sans/pt-sans-v11-latin_cyrillic-700.woff') format('woff'),
        url('../fonts/pt-sans/pt-sans-v11-latin_cyrillic-700.ttf') format('truetype'),
        url('../fonts/pt-sans/pt-sans-v11-latin_cyrillic-700.svg#PTSans') format('svg');
}

* {
    box-sizing: content-box;
}

body {
    font-family: 'Cuprum', Arial, sans-serif;
}

div,
button,
section,
a,
ul,
li,
h1,
h2,
h3,
p,
footer,
header{
    outline: 1px solid red;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.inner-center-container {
    width: 940px;
    margin: 0 auto;
}



/***************************header-top-panel***************************/
.header-top-flex-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #293449;
}

.header-middle-flex-container {
    width: 100%;
    min-height: 273px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f7f9;
}

.header-top-panel {
    background-color: #f4f7f9;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
    min-width: 940px;
    min-height: 42px;
    background-color: #293449;
}

.header-logo{
    width: 157px;
    padding:  11px 32px 11px 30px;
    background-color: #ee3643;
}

.header-logo:hover{
    background-color: #ca2c37;
}

.header-logo:active{
    background-color: #ba2732;
}

.header-logo::before {
    content: "";
    background-image: url("../img/texnomart.svg");
    background-repeat: no-repeat;
    background-size: 109px 19px;
    width: 109px;
    height: 19px;
    display: block;
    margin: 0 auto;
}

.inp-form-search {
    border: 0px;
    font-size: 17px;
    line-height: 1.06;
    color: #fff;
    background-color: #293449;
    width: 222px;
    min-height: 22px;
    padding: 8px 0 12px 49px;
    vertical-align: baseline;
}


.inp-form-search:hover {
    background-color: #212a3a;
}

.inp-form-search:active {
    background-color: #fff;
}

.label-search {
    position: relative;
}

.label-search::before {
    content: '';
    top: 0;
    left: -252px;
    position: absolute;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    color: #6a7180;
    background-image: url("../img/icon-svg/icon-search.svg");
    background-repeat: no-repeat;
    background-size: 17px 17px;
    width: 17px;
    height: 17px;
    opacity: 0.3;
}

.label-search:hover:before {
    fill:#fff;
    opacity: 1;
}

.header-bookmark,
.header-cart,
.header-order {
    position: relative;
    font-size: 17px;
    line-height: 1.06;
    color: #fff;
    text-decoration: none;
    width: 150px;
    padding: 11px 0 11px 0;
    text-align: center;
}

.header-bookmark::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../img/icon-svg/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-size: 14px 16px;
    width: 14px;
    height: 16px;
    top: 12px;
    left: 17px;
    opacity: 0.3;
}

.header-bookmark:hover::before {
    fill: #fff;
    opacity: 1;
}

.header-bookmark:active::before {
    fill: #fff;
    opacity: 0.5;
}

.header-cart::before {
    content: '';
    position: absolute;
    display: block;
    background-image: url("../img/icon-svg/icon-cart.svg");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    top: 12px;
    left: 17px;
    opacity: 0.3;
}

.header-cart:hover::before {
    fill: #fff;
    opacity: 1;
}

.header-cart:active::before {
    fill: #fff;
    opacity: 0.5;
}

.header-bookmark:hover,
.header-cart:hover {
    background-color: #212a3a;
}

.header-bookmark:active,
.header-cart:active {
    background-color: #161d29;
}

.header-order {
    background-color: #63a63e;
}

.header-order:hover {
    background-color: #5fbb2d;
}

.header-order:active {
    background-color: #518534;
}

/***************************header-middle-panel***************************/
.header-middle-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    margin-top: 42px;
    background-color: #f4f7f9;
}

.header-store-about {
    width: 218px;
    font-size: 16px;
    font-style: italic;
    line-height: 1.44;
    color: #ee3643;
    margin: 5px -26px 0 49px;
}

.header-middle-contact {
    position: relative;
    text-align: center;
    max-width: 270px;
    margin: 14px -45px 0 0;
}

.header-contact-telephone {
    position: relative;
    font-size: 21px;
    line-height: 1;
    color: #ee3643;
    text-decoration: none;
    border: solid 3px #ffffff;
}

.header-contact-telephone::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url("../img/icon-svg/icon-phone.svg");
    background-repeat: no-repeat;
    background-size: 19px 19px;
    width: 19px;
    height: 19px;
    top: 3px;
    left: -57px;
}

.header-contact-address {
    font-size: 14px;
    line-height: 1.71;
    margin: 16px 20px 0 0;
    text-align: center;
    color: #32425c;
}

.header-middle-user {
    display: flex;
    position: relative;
    width: 284px;
    margin: -27px 11px 0 0;
}

.header-user-login {
    font-size: 21px;
    line-height: 1;
    color: #000;
    text-decoration: none;
    padding: 14px 28px 11px 48px;
    margin: 0px 0px 0 15px;
    background-color: #fff;
}

.header-user-registration {
    padding: 14px 27px 11px 13px;
    margin: 0 0 0 15px;
    font-size: 21px;
    line-height: 1;
    color: #000;
    text-decoration: none;
    background-color: #fff;
}

.header-user-login:hover::before {
    content: url("../img/icon-svg/icon-login-hover.svg");
}

.header-user-login:active::before {
    content: url("../img/icon-svg/icon-login-active.svg");
}

.header-user-login::before {
    content: '';
    position: absolute;
    display: block;
    background-image: url('../img/icon-svg/icon-login.svg');
    background-repeat: no-repeat;
    background-size: 20px 17px;
    width: 20px;
    height: 17px;
    top: 17px;
    left: 29px;
}

.header-user-login:hover,
.header-user-registration:hover {
    color: #ee3643;
}

.header-user-login:active,
.header-user-registration:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-ul-panel-links {
    font-size: 17px;
    line-height: 1;
    color: #fff;
    text-decoration: none;
}

.header-ul-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.header-ul-panel {
    background-color: #32425c;
}

.header-ul-panel-li {
    padding: 18px 31px;
}

.header-ul-panel-li:hover {
    background-color: #293449;
}

.header-ul-panel-li:active {
    background-color: #1d2739;
}

.header-ul-panel-links:active {
    color: rgba(255, 255, 255, 0.5);
}

.header-nav-panel {
    margin-top: 26px;
    width: 100%;
    box-shadow: inset 0px -5px 0 0 var(#293449);
}
/*************************** main -> section features***************************/

.features-blocks-size {
    width: 300px;
    min-height: 123px;
}

.features {
    width: 940px;
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
}

.features-united-container {
    display: flex;
    flex-direction: column;
    margin: 19px 0 0 20px;
}

.inner-center-container {
    display: flex;
    flex-wrap: wrap;
}

.features-materials {
    background-color: #ffbf47;
    background-image: url("../img/icon-svg/material.svg");
    background-repeat: no-repeat;
    background-position: 213px center;
}

.features-tool {
    background-color: #3bbce3;
    background-image: url("../img/icon-svg/instrument.svg");
    background-repeat: no-repeat;
    background-position: 197px center;
}

.features-technics {
    background-color: #dc91d8;
    background-image: url("../img/icon-svg/technics.svg");
    background-repeat: no-repeat;
    background-position: 197px center;
}

.features-discount {
    background-color: #8ed78f;
    background-image: url("../img/icon-svg/discount.svg");
    background-repeat: no-repeat;
    background-position: 197px center;
}

.features-delivery {
    background-color: #ffc047;
    background-image: url("../img/icon-svg/delivery.svg");
    background-repeat: no-repeat;
    background-position: 191px center;
    margin-top: 21px;
}

.features-delivery a {
    padding: 10px 35px 10px 35px;
    margin-left: 25px;
}

.features-title-position {
    position: absolute;
    top: 50px;
    left: 24px;
}

.features-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    color: #fff;
    margin-top: 17px;
    margin-left: 22px;
}

.features-subtitle {
    font-size: 14px;
    line-height: 1.29;
    margin-left: 28px;
    padding: 8px 21px 8px 21px;
    opacity: 0.1;
    background-color: #000000;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.features-subtitle:hover {
    background-color: #000;
    opacity: 0.2;
}

.features-subtitle:active {
    background-color: #000;
    opacity: 0.3;
}

.features-slider {
    position: relative;
    margin-top: 19px;
}

.features-title-slide {
    margin-top: 10px;
    line-height: 1.33;
    font-size: 18px;
    color: #fff;
}

.features-slider-title {
    position: absolute;
    margin: 20px 0 0 23px;
    text-transform: uppercase;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
}

.features-slider-content {
    position: relative;
}

.slider-button {
    position: absolute;
    background-color: #ee3643;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    left: 25px;
    bottom: 25px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.29;
    padding: 10px 45px 10px 49px;
}

.slider-button:hover {
    background-color: #ca2c37;
}

.slider-button:active {
    background-color: #ba2732;
}

.slider-btn-next {
    position: absolute;
    top: 48%;
}

.slider-btn-previous {
    position: absolute;
    right: 0px;
    top: 48%;
}

/***************************main -> main-top-flex-container***************************/

.main-top-flex-container {
    display: flex;
    justify-content: center;
}

/***************************main -> section popular-products***************************/
.popular-products {
    margin-top: 53px;
}

.all-header-popular {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f5f0;
    width: 100%;
}

.popular-title {
    margin: 25px 0px 27px 28px;
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    color: #32425c;
}

.popular-subtitle {
    background-color: #ee3643;
    color: #fff;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 9px 0px 10px 0px;
    margin: 1px 23px 0 0px;
    width: 253px;
    border-radius: 3px;
}

.popular-subtitle:hover {
    background-color: #ca2c37;
}

.popular-subtitle:active {
    background-color: #ba2732;
}

.popular-catalog-products {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    margin-left: 0;
    margin-top: 23px;
    margin-bottom: 0;
    padding-left: 0;
}

.popular-catalog-products-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;
}

.catalog-product-firm {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    line-height: 1.11;
    width: 179px;
    margin: 10px 0 13px 0;
    color: #000000;
}

.catalog-product-outdate-del {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.06;
    text-align: center;
    color: #a9a9a9;
}

.catalog-product-outdate {
    margin-bottom: 10px;
}

.catalog-product-price {
    font-family: 'PT Sans', Arial, sans-serif;
    background-color: #ef3341;
    padding: 10px 40px 10px 36px;
    margin-bottom: 21px;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.06;
    text-align: center;
    color: #ffffff;
}

.last-product {
    margin-top: 31px;
}

.catalog-popup-buy {
    background-color: #63a63e;
    color: #fff;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-popup-buy:hover {
    background-color: #5fbb2d;
}

.catalog-popup-buy:active {
    background-color: #518534;
}

.catalog-popup-bookmark {
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #32425c;
    border: solid 3px #63a63e;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-popup-bookmark:hover {
    border: solid 3px #32425c;
}

.catalog-popup-bookmark:active {
    opacity: 0.3;
    border: solid 3px #32425c;
}

/***************************main -> section popular-brands***************************/

.popular-brands {
    margin-top: 21px;
    background-color: #fff;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    min-height: 145px;
    border: solid 1px #eaeaea;
    margin-top: 20px;
}

.brand-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
    line-height: 1;
    margin: 45px 0 26px 0;
    color: #000000;
}

.services-info {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 1.85;
    color: #000;
    margin: 0;
}

.button-slider-controls {
    margin: 66px 0 0 0;
    list-style-type: none;
    padding-left: 0;
}

.btn-slider-controls  {
    text-align: left;
    width: 210px;
    padding-left: 20px;
    min-height: 61px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.43;
    color: #ffffff;
    border: none;
    background-color: #32425c;
    box-shadow: 0px 1px 0 0 var(--dark),
    inset 0px 1px 0 0 #405069;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
}

.btn-slider-controls:hover {
    background-color: #293449;
}

.btn-slider-controls:active {
    background-color: #fff;
    color:#32425c;
}

.advantage-details {
    margin: 31px 0 0 80px;
}

.advantage-details-title {
    text-transform: uppercase;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 1;
    color: #32425c;
}

.advantage-details-info {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 1.85;
    width: 275px;
    color: #000000;
}

/***************************main -> section service***************************/

.service {
    position: relative;
    margin-top: 85px;
    background-color: #f4f7f9;
}

.service-slider-controls {
    display: flex;
    margin-bottom: 99px;
}

.service::before {
    content: "";
    position: absolute;
    background-image: url("../img/content-images/delivery-image.png");
    background-repeat: no-repeat;
    background-size: 468px 261px;
    width: 468px;
    height: 261px;
    bottom: 0;
    right: 200px;
}

/***************************main -> section company***************************/

.company {
    background-color: #fff;
}

.company-center-container {
    width: 940px;
    margin-top: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.company-caption {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 1;
    color: #000;
}

.company-about,
.company-message {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: 1.29;
    color: #fff;
    background-color: #ee3643;
}

.company-message {
    width: 300px;
}

.company-about {
    width: 220px;
}

.company-info,
.company-contacts-info {
    display: flex;
    flex-direction: column;
    font-family: 'PT sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 1.85;
    color: #000;
}

.company-contacts-info {
    width: 179px;
    margin: 26px 0 31px 0;
}

.company-info {
    margin-bottom: 25px;
}

.company-delivery-firm {
    font-size: 18px;
    line-height: 1.11;
    color: #000;
}
.company-delivery {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}


.company-contacts-form {
    display:none;
}

.company-description {
    margin-top: 50px;
    width: 540px;
}

.company-contacts {
    margin-top: 50px;
    width: 300px;
}

.company-contacts-title {
    text-transform: uppercase;
    margin: 30px 0 0 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    color: #000
}

/***************************footer -> footer-top-panel***************************/
footer p{
    margin: 0;
}

.footer-center-container {
    background-color: #32425c;
}

.footer-logo::before {
    content: url("/img/texnomart-footer.svg");
}

.footer-top-panel {
    display: flex;
    justify-content: space-between;
    background-color: #32425c;
    width: 940px;
    margin: 0 auto;
}

.footer-inner-panel-li {
    padding-left: 60px;
}

.footer-inner-panel-links {
    font-size: 18px;
    line-height: 1.33;
    color: #f1f5f7;
    text-decoration: none;
}


.footer-inner-panel-links:hover {
    color: #f1f5f7;
    text-decoration: underline;
}

.footer-inner-panel-links:active {
    color: rgba(241, 245, 247, 0.5);
    text-decoration: none;
}

.footer-inner-panel {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

/*************************** footer -> footer-middle-panel ***************************/
.footer-middle-panel {
    display: flex;
    justify-content: space-between;
    background-color: #32425c;
    width: 940px;
    margin: 0 auto;
}

.footer-contacts-panel {
    width: 322px;
}

.footer-contacts-address,
.footer-contact-telephone {
    font-size: 18px;
    line-height: 1.33;
    color: #f3f7f9;
}

.footer-contact-telephone{
    text-decoration: none;
}

.footer-offer-panel-links {
    font-size: 18px;
    line-height: 1.33;
    color: #ffd180;
    text-decoration: none;
    padding-left: 60px;
}

.footer-offer-panel-links:hover,
.footer-feedback-mail:hover,
.footer-mail-design:hover {
    color: #ffd180;
    text-decoration: underline;
}

.footer-bottom-feedback a:active,
.footer-bottom-design a:active {
    color: #ee3643;
    text-decoration: underline;
}

.footer-offer-panel-links:active {
    color: rgba(255, 209, 128, 0.5);
    text-decoration: none;
}

.footer-offer-panel {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

/***************************footer -> footer-bottom-panel***************************/
.footer-bottom-center-container {
    background: #293449;
}

.footer-bottom-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #293449;
    width: 940px;
    margin: 0 auto;
}

.footer-bottom-copyright-text {
    font-size: 16px;
    line-height: 1.13;
    color: #fff;
}

.footer-bottom-social  {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-social {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #212a3a;
    text-align: center;
}

.footer-social:hover {
    background-color: #ee3643;
}



.footer-social-vk::before {
    content: url("../img/icon-svg/icon-vk.svg");
    position: absolute;
    top: 14px;
    left: 8px;
}

.footer-social-fb::before {
    content: url("../img/icon-svg/icon-fb.svg");
    position: absolute;
    top: 10px;
    left: 15px;
}

.footer-social-inst::before {
    content: url("../img/icon-svg/icon-insta.svg");
    position: absolute;
    top: 10px;
    left: 11px;
}

.footer-bottom-feedback-text,
.footer-bottom-design-text {
    font-size: 16px;
    line-height: 1.13;
    color: #fff;
}

.footer-feedback-mail,
.footer-mail-design {
    font-size: 16px;
    line-height: 1.13;
    color: #ffd180;
    text-decoration: none;
}
